API_SECRET_KEY=
DATABASE_URL=postgresql://postgres:PASSWORD@hopper.proxy.rlwy.net:49039/railway
REDIS_URL=redis://default:PASSWORD@shuttle.proxy.rlwy.net:20776
ANTHROPIC_API_KEY=
SLACK_WEBHOOK_URL=
NOTION_API_KEY=
SMARTLEAD_API_KEY=49c42033-1811-4755-9d1f-c43a21141244_00h03bz
GEMINI_API_KEY=
